@import '../../assets/styles.scss';

.matches--content {
  font-family: $aileron_semibold;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 20px;
  margin-top: -25px;
  width: auto;
  align-self: flex-end;
  position: relative;
  color: $gray_txt_color;

  .item--container {
    display: flex;
    position: relative;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .item {
    display: flex;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .param {
    margin-right: 10px;
    box-sizing: none;
  }

  .icon {
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    align-self: center;
  }

  .icon-green {
    background-color: $green_color
  }

  .icon-blue {
    background-color: $blue_color
  }

  .icon-yellow {
    background-color: $yellow_color
  }

  .icon-orange {
    background-color: $orange_color
  }

  .value {
    font-size: 14px;
    margin-left: 7px;
    line-height: 14px;
    align-self: center;
    color: $primary_color;
  }

  @media (max-width: 1080px) {
    .item {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }

    .item--container {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  @media (max-width: 992px) {
    margin-top: 10px;
    justify-content: center;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;

    .item {
      font-size: 14px;
      text-align: center;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    .item--container {
      &:not(:first-child) {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 5px;
    }
  }
}

span.tooltip-trigger {
  z-index: 9;
  align-self: center;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 10px;
  @media (max-width: 1080px) {
    left: -10px;
  }
}
