.scatter-graph-container {
  position: relative;
}

.scatterGraph--trigger {
  z-index: 1;
  width: 80px;
  height: 40px;
  background: #dae0e1;
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  border: none;
  border-radius: 4px;
  &:hover {
    border: 1px solid black;
  }
}

.lds-tooltip div {
  top: 13px !important
}

.scatter--icon {
  margin: auto;
  margin-top: 5px;
  width: 30px;
  display: block;
}

.loader--container{
  position: relative;
}
//To show diagonal line on scatter graph
// div#chart::before {
//   position: absolute;
//   content: "";
//   width: 569px;
//   height: 47px;
//   border-bottom: 1px solid black;
//   -webkit-transform: translateY(120px) translateX(-276px) rotate(-28deg);
//   transform: translateY(120px) translateX(-276px) rotate(-28deg);
// }
