@import '../../assets/styles.scss';

.desc--container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  span.tooltip-trigger {
    position: absolute;
    top: 0;
    right: 85px;
  }

  .label {
    margin-right: 20px;
    font-family: $aileron_semibold;

    .pic {
      margin-right: 5px;
      padding: 3px 5px;
      border-radius: 3px;
      background-color: $primary_color;
      color: $white;
    }
  }
}

.graph--container {
  height: 200px;
  border: 1px solid $gray_color;
  border-radius: 5px;
  background: $gray_color;
  padding: 0;
}
