<div class="parent--container">

  <div class="img--container">
    <img src="./../assets/headerDealerImg.PNG" alt="" style="width: 92%;max-width: 1140px;">
  </div>
  
  <div class="live-retail--container">

    <liveRetail-lib [ownVehicleParams]="ownVehicleParameters"></liveRetail-lib>

  </div>

  <footer>
    <div class="img--container">
      <img src="./../assets/footerImg.PNG" style="width: 100%" alt="">
    </div>
  </footer>
  
</div>







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


