  .live-retail--container{
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 20px;
      border: 2px dotted blue;
  }

  .img--container{
    display: flex;
    justify-content: center;
  }

  img{
    opacity: 0.5;
  }
  img:hover{
    opacity: 0.8;
  }
