<main id="liveRetailLibContainer" class="container-lg">
  <!-- Error modal (Only appears when no params provided) -->
  <div *ngIf="noDataProvidedFlag" class="row error-modal"> 
    <div>
      <h4>No parameters provided</h4>
      <strong> Expected: ownVehicle(Object)</strong>
      <br>
      <i> Recieved: {{ownVehicleParams | json}} </i>
    </div>
  </div>

  <div *ngIf="onlyOwnVhFlag" class="row error-modal"> 
    <div>
      <h4>{{lngProps.errorCode.onlyOwnVh}}</h4>
      <button class="btn btn-md btn-primary" (click)="closeModal()">CLOSE</button>
    </div>
  </div>

  <div *ngIf="noAskingOrMileageProvidedFlag" class="row error-modal"> 
    <div>
    <strong>{{lngProps.errorCode.wrongAskingOrMileage}}</strong>
    </div>
  </div>

  <div *ngIf="wrongDataProvidedFlag" class="row error-modal"> 
    <div>
      <h4>Missing mandatory parameters</h4>
      <strong>Be sure that the object follows the interface of OwnVehicleParams</strong>
      <!-- <p>Parameters: <br> <i> {{ownVehicleParams.ownVehicle | json}} </i></p>  -->
    </div>
  </div>


  <div class="row information--container">
    <section id="report--container" class="col-md-7">
      <app-scatter-graph [listOfVehicles]="listOfVehicles"></app-scatter-graph>
      <app-report [advertsObject]="advertsObject"></app-report>
    </section>

    <section id="summary--container" class="col-md-5">
      <app-summary [advertsObject]="advertsObject"></app-summary>
    </section>
  </div>

  <div class="row">
    <section id="filters--container" class="col-md-12">
      <app-filters (advertsUpdate)="updateAdvertsFromFilters($event)" [ownVehicle]="ownVehicleParams"></app-filters>
    </section>
  </div>

  <div class="row">
    <section id="matches--container" class="col align-self-end">
      <app-matches [advertsObject]="advertsObject"></app-matches>
    </section>
  </div>

  <div class="row">
    <section id="results--container" class="col-md-12">
      <app-results [listOfVehicles]="listOfVehicles" [ownVehicle]="ownVehicleParams"></app-results>
    </section>
  </div>

  <scroll-up-button></scroll-up-button>

</main>
