@import './assets/styles.scss';
@import './assets/_fonts.scss';

main#liveRetailLibContainer {
  border-radius: 5px;
  background-color: $white;
  position: relative;
}

#report--container {
  height: 250px;
  padding-left: 0;
  margin-bottom: 20px;
  align-self: flex-end;
}

#summary--container {
  border-radius: 5px;
  min-height: 250px;
  border: 1px solid #dae0e1;
  background-color: #232c32;
  margin-bottom: 20px;
  padding: 0;
}

#filters--container {
  padding: 0;
  z-index: 1;
}

#matches--container {
  padding: 0;
}

#results--container {
  padding: 0;
  background-color: $white;
  min-height: 200px;
  margin-bottom: 10px;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip-style-1 {
  .tooltip-inner {
    background-color: #fff;
    color: $primary_color;
    padding: 0;
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    opacity: 1;
    max-width: none;

    table {
      thead>tr>th {
        padding: 5px 10px;
      }

      td {
        text-align: left;
        padding: 0 5px;
      }
    }
  }

  .arrow::before {
    border-top-color: darkgreen;
  }
}

.tooltip-style-2 {
  .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
  }

  .arrow::before {
    border-top-color: darkgreen;
  }
}

.tooltip-trigger {
  cursor: help;

  &:hover {
    text-decoration: underline;
  }
}

ngb-tooltip-window.bs-tooltip-bottom-left .arrow{
  left: 0 !important;
}

ngb-tooltip-window.bs-tooltip-bottom-right .arrow{
  right: 0 !important;
}

@media (max-width: 767px) {

  .information--container {
    flex-flow: wrap-reverse;
  }

  #report--container {
    padding-right: 0;
  }

  #summary--container {
    height: auto;
    margin-bottom: 0;
  }
}

//loader
.loader--container {
  width: 100%;
  display: flex;
  position: absolute;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-tooltip {
  height: 40px !important;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $blue_color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-tooltip div {
  top: 17px !important;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.multiselect-dropdown .dropdown-btn {
  max-height: 35px;
  overflow: hidden;

  .selected-item {
    font-size: 12px !important;
    float: none !important;
  }

  span:last-child {
    span:first-of-type {
      right: 22px;
    }
  }

  .dropdown-down,
  .dropdown-up {
    position: absolute !important;
    right: 5px !important;
    top: 13px !important;
  }
}

.multiselect-item-checkbox {
  font-size: 14px;

  div {
    padding-left: 22px !important;
  }
}

.dropdown-list li {
  padding: 5px 5px !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.dc-style--tooltip {
  text-align: left;
  max-width: 400px;
  padding: 20px;
}

span.tooltip-trigger:not(.scatterGraph--trigger){
  img {
    width: 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transition: all 0.2s ease-in-out;
      width: 20px;
    }
  }
}

.error-modal{
  z-index: 999;
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: .95;
  div{
    background-color: $white;
    width: auto;
    max-width: 300px;
    padding: 40px 20px;
    text-align: center;
    min-height: 180px;
    border-radius: 4px;
    margin-top: 50px;
    h4{
      font-family: 'Aileron';
      font-size: 18px;
    }
    strong{
     margin-bottom: 15px;
     display: block;
    }
    i{
      margin-top: 10px;
      font-size: 16px;
    }
  }
}

