.scroll-to-top {
    z-index: 9;
  img {
    width: 20px;
    height: 20px;
  }
  button {
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background: none;
    padding-bottom: 4px;
    &:hover{
        background: lightgray;
        transition: all .2s ease-in-out;
    }
    &:focus{
        outline: none;
    }
  }

  position: fixed;

  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
