/* You can add global styles to this file, and also import other style files */
@import './fonts';

$primary_font: 'Aileron';

$aileron_regular: 'Aileron';
$aileron_bold: 'Aileron bold';
$aileron_semibold: 'Aileron semibold';
$aileron_light: 'Aileron light';

main{ 
    font-family: $primary_font;
}

//colors

$white: #ffffff;
$whitesmoke: #F5F7F7;
$primary_color: #232C32;

$gray_txt_color: #A1A9AC;
$blue_txt_color: #008FC8;

$green_color: #00A76E;
$blue_color: #00A8BE;
$yellow_color: #E1BE2B;
$orange_color: #E36A44;
$red_color: #DE4A39;

$gray_color: #dae0e1;

//utils

.w100{
    width: 100% !important;
}

.w50{
    width: 50% !important;
}

.mw160{
    min-width: 160px !important;
}

.h35{
    height: 35px !important;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-left{
    text-align: left;
}

.nowrap{
    white-space: nowrap;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: lightgray;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid lightgray;  /* creates padding around scroll thumb */
  }