@import '../../assets/styles.scss';

.collapsible-form {
  padding: 0 2px;
}

.accordion--container {
  padding-bottom: 40px;

  @media (max-width: 992px) {
    padding-bottom: 20px;
  }
}

.filters--content {
  font-family: $aileron_semibold;
  padding-top: 10px;
}

.filter--item {
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.toggle-filters--btn {
  font-family: $aileron_bold;
  font-size: 18px;
  margin-left: -5px;
  border: none;
  outline: none;
  background: none;
  color: $blue_txt_color;
}

label {
  color: $gray_txt_color;
  font-size: 16px;
  letter-spacing: 1px;
}

select {
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #adadad;
}

.form-select:focus {
  border-color: #adadad;
}

input,
select,
.checkbox {
  &:disabled {
    cursor: not-allowed;
  }
}

input:not(.checkbox),
select {
  box-sizing: border-box;
  height: 35px;
  border-radius: 2px;
  background-color: $whitesmoke;
  box-shadow: inset 0 1px 3px 0 rgba(35, 44, 50, 0.15);

  &:focus {
    box-shadow: none;
  }
}

select {
  box-shadow: 0 1px 2px 0 rgba(35, 44, 50, 0.25);
}

.btn-search {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray_txt_color;
  font-family: $aileron_bold;
  color: $white;
  transition: background 1s, color 1s;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: $gray_color;
    color: $primary_color;
    transition: background 1s, color 1s;
  }

  &:active {
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.9);
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}

.filters--footer {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.checkboxes--container {
  display: flex;

  @media (max-width: 992px) {
    margin-bottom: 10px;
  }

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.checkbox {
  margin-right: 5px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.values--container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.item-checkbox {
  display: flex;
  align-items: center;
  font-family: $aileron_semibold;
  font-size: 14px;

  label {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

span.tooltip-trigger {
  position: absolute;
  left: 210px;
  top: 0;
  @media (max-width: 992px) {
    left: 5px;
    top: 30px;
  }
}
