/* You can add global styles to this file, and also import other style files */

body{
    overflow-x: hidden;
}

body,html{
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: lightgray;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid lightgray;  /* creates padding around scroll thumb */
  }
  body {
    scrollbar-width: thin;          /* "auto" or "thin"  */
    scrollbar-color: lightgray gray;   /* scroll thumb & track */ 
  }