@import '../../assets/styles.scss';

.summary--content{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;

    div {
        display: flex;
        justify-content: space-between;
    }
    
    span {
        display: flex;
        flex-direction: column;
        &>small {
            font-size: 14px;
            color: $gray_txt_color;
        }
    }

    .hg-label{
        color: $white;
        font-family: $aileron_bold;
        margin-right: 20px;
        text-align: left;
        font-size: 20px;
    }
    
    .hg-value{
        color: $white;
        font-size: 30px;
        text-align: right;
        white-space: nowrap;
    }
    .scnd-value{
        color: $white;
        font-size: 18px;
        text-align: right;
        white-space: nowrap;
    }

    div.item--container{
        line-height: 30px;
    }
    
    .st-item{
        color: $gray_txt_color;
        font-size: 1em;
        font-family: $aileron_regular;
        margin-right: 20px;
        
    }
    
    .st-value{
        align-self: center;
        color: $white;
        font-size: 24px;
        font-family: $aileron_regular;
    }
    
    .desirability{
        font-family: $aileron_light;
        text-transform: uppercase;
        font-size: 22px;
    }
    .desCode0{
        color: #FFFFFF;
    }
    .desCode1{
        color: #008FC9;
    }
    .desCode2{
        color: #00A76E;
    }
    .desCode3{
        color: #E1BE2B;
    }
    .desCode4{
        color: #DE4A39;
    }

    .separator{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-top: 1px solid dimgray;
    }


    @media (max-width: 950px) {
        .hg-label{
            margin-right: 10px;
            font-size: 18px;
        }
        
        .hg-value{
            font-size: 26px;
            text-align: right;
        }
        
        .st-item{
            font-size: 14px;
            margin-right: 10px;
        }
        
        .st-value{
            font-size: 22px;
            font-family: $aileron_regular;
        }
    }
}

span.tooltip-trigger{
    position: absolute;
    left: 3px;
    top: -2px;
}

.dc-style--tooltip{
    display: block !important;
}

